form {
    display: block;
    width: 35%;
}

input:not([type="checkbox"]), select, textarea {
    width: 100%;
}

input, select, label {
    height: 25px;
    font-size: 13px;
    margin-bottom: 5px;
}

input {
    border: 1px solid silver;
    text-indent: 5px;
}

input:not([type="checkbox"]) {
    padding: 0;
    margin: -1px;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    height: 12px;
}

textarea {
    resize: none;
}

.container {
    margin-bottom: 10px;
}




.prog-form .half-width {
    width: 50%;
}

/* Left */
.prog-form .half-width:not(.prog-form .half-width + .half-width) {
    float: left;
}

/* Right */
.prog-form .half-width + .half-width {
    float: right;
}

.prog-form .half-width + .half-width + * {
    clear: both;
}