form {
    display: block;
    width: 35%;
}

input:not([type="checkbox"]), select, textarea {
    width: 100%;
}

input, select, label {
    height: 25px;
    font-size: 13px;
    margin-bottom: 10px;
}

input {
    border: 1px solid silver;
    text-indent: 5px;
}

input[type="checkbox"] {
    height: 12px;
}

textarea {
    resize: none;
}
