version: '2'

services:

  wordpress:
    build: .
    image: wordpress_with_cli
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_PASSWORD: developer

  mysql:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: developer