form {
    display: block;
    width: 35%;
}

input, select {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
}

input {
    border: 1px solid silver;
    text-indent: 5px;
    width: calc(100% - 2px);
}
