.pgform .bcbs-insurance-container,
.pgform .other-insurance-container {
    display: none;
}

.pgform label.disclaimer {
    width: 100%;
    text-align: center;
    font-size: small;
    display: block;
}