.pgform .half-width {
    width: 50%;
}

/* Left */
.pgform .half-width:not(.pgform .half-width + .half-width) {
    float: left;
}

/* Right */
.pgform .half-width + .half-width {
    float: right;
}

.pgform .half-width + .half-width + * {
    clear: both;
}