.prog-form .bcbs-insurance-container,
.prog-form .other-insurance-container {
    display: none;
}

.prog-form label.disclaimer {
    width: 100%;
    text-align: center;
    font-size: small;
    display: block;
}