.prog-form select[name="insurance_state_bcbs"],
.prog-form input[name="other_insurance"] {
    display: none;
}

.prog-form label.disclaimer {
    width: 100%;
    text-align: center;
    font-size: small;
    display: block;
}